<div class="container">

  <div class="information-divider">

    <div id="profile-container" class="profile-container">
      <h1>Contact</h1>


      <div class="profile-divider">

        <mat-divider [vertical]="true"></mat-divider>

        <div class="bullet-points">
          <h3>E-mail</h3>
          <h2 (click)="copyText('samir.rademakers@gmail.com')" class="email" title="{{copyString}}">samir.rademakers@gmail.com</h2>
          <div class="spacer"></div>

          <h3>Linked-in</h3>
          <h2><a href="https://www.linkedin.com/in/samir-rademakers-69a4a71bb/" target="_blank">linked-in.com/samir-rademakers</a>
          </h2>

        </div>
      </div>
    </div>

  </div>


</div>

