<button id="open-nav-button" (click)="openNavigation()" class="open-nav-button">
  <mat-icon id="icon">forward</mat-icon>

</button>

<div id="container" class="container common">

  <div class="content-container">

    <div id="profile-container" class="profile-container">
      <img class="profile-image" src="../../../assets/profile-image.png">
      <h1>Samir Rademakers</h1>
      <h2>Software Engineer</h2>
      <mat-divider></mat-divider>
    </div>



    <ul id="list">
      <li id="home" (click)="selectHome()">
        <mat-icon>home</mat-icon>
        <a>Home</a>
      </li>

      <li id="aboutme" (click)="selectAboutme()">
        <mat-icon>person</mat-icon>
        <a>About Me</a>
      </li>


      <li id="projects" (click)="selectProjects()">
        <mat-icon>folder</mat-icon>
        <a>Projects</a>
      </li>

      <li id="skills" (click)="selectSkills()">
        <mat-icon>assignment</mat-icon>
        <a>Skills</a>
      </li>

      <li id="contact" (click)="selectContact()">
        <mat-icon>phone</mat-icon>
        <a>Contact</a>
      </li>
    </ul>
  </div>

</div>
