<div class="container">
  <div class="achievements">


    <div id="profile-container1" class="profile-container">
      <h1>Work Experience</h1>


      <div class="profile-divider">
        <mat-divider [vertical]="true"></mat-divider>

        <div class="bullet-points">

          <h2>2014-2019: Highschool</h2>
          <h3>Senior general secondary education</h3>
          <h3>School: Jacob van Liesveldt, Hellevoetsluis</h3>
          <div class="spacer"></div>
          <h2>2019-2023: University</h2>
          <h3>Technical Computer Science Bachelor Degree</h3>
          <h3>School: Avans Hogeschool, Breda</h3>

        </div>
      </div>
    </div>


    <div id="profile-container2" class="profile-container">
      <h1>Education</h1>


      <div class="profile-divider">
        <mat-divider [vertical]="true"></mat-divider>

        <div class="bullet-points">

          <h2>2018-2019: Stock clerk</h2>
          <h3>Company: Jumbo</h3>
          <div class="spacer"></div>
          <h2>2021-2022: IT Intern</h2>
          <h3>Company: NewCold</h3>
        </div>
      </div>
    </div>


    <div id="profile-container3" class="profile-container">
      <h1>Certificates</h1>


      <div class="profile-divider">
        <mat-divider [vertical]="true"></mat-divider>

        <div class="bullet-points">
          <h2>Junior Bilingual Education certificate</h2>
          <h3>Discipline: English Language</h3>

          <div class="spacer"></div>
          <h2>Senior Bilingual Education certificate</h2>
          <h3>Discipline: English Language</h3>

          <div class="spacer"></div>
          <h2>Cambridge English Level 1 certificate</h2>
          <h3>Discipline: English Language</h3>

          <div class="spacer"></div>
          <h2>International Baccalaureate certificate</h2>
          <h3>Discipline: English Language</h3>

        </div>
      </div>
    </div>


  </div>
</div>


