<div class="container">

  <div class="profile-container">
    <h2>Welcome, my name is:</h2>
    <h1>Samir <a>Rademakers</a></h1>


    <div class="profile-divider">
      <mat-divider [vertical]="true"></mat-divider>

      <div class="bullet-points">
        <h2>
          <mat-icon>person</mat-icon>
          Software Engineer
        </h2>
        <h2>
          <mat-icon>laptop_windows</mat-icon>
          Full Stack Developer
        </h2>
        <h2>
          <mat-icon>school</mat-icon>
          Technical Computer Science
        </h2>
        <h2>
          <mat-icon>date_range</mat-icon>
          26 September 2002
        </h2>
        <h2>
          <mat-icon>flag</mat-icon>
          Dutch & English
        </h2>
        <h2>
          <mat-icon>home</mat-icon>
          Breda, The Netherlands
        </h2>
        <h2>
          <mat-icon>email</mat-icon>
          samir.rademakers@gmail.com
        </h2>
      </div>
    </div>
  </div>

</div>
