<div  class="container">

  <div *ngIf="visible" [@slideOutIn] id="main-container" class="profile-container">
    <h1>{{projects[counter].title}} </h1>


    <div class="profile-divider">
      <mat-divider [vertical]="true"></mat-divider>
      <div class="project-info">
        <h2>{{projects[counter].description}}</h2>
      </div>
    </div>

    <div class="pictures-and-skills">
      <div class="skills">
        <mat-divider [vertical]="true"></mat-divider>
        <div class="bullet-points">
          <h2 class="skills-title">Skills</h2>
          <h2 *ngFor="let skill of projects[counter].skills">○ {{skill}}</h2>
        </div>
      </div>

      <div class="pictures-container">
        <img *ngFor="let picture of projects[counter].pictures" src="{{picture}}" alt="img">
      </div>
    </div>


  </div>

  <div class="button-container">
    <div (click)="previousProject()" class="button">
      <mat-icon id="left-arrow">arrow_left</mat-icon>

    </div>

    <h2>{{counter + 1}}/{{projects.length}}</h2>

    <div (click)="nextProject()" class="button">
      <mat-icon id="right-arrow">arrow_right</mat-icon>

    </div>
  </div>


</div>
