.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("src/app/resources/BackgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-container{
  animation: opening-animation 1s;

}

.profile-container h1{
  font-family: 'Tw Cen MT', Segoe UI, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.profile-container h1 a{
  color: #0075ff;
}

.profile-container h2{
  font-family: 'Tw Cen MT', Segoe UI, sans-serif;
  color: white;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
}

.project-description{
  font-weight: normal !important;
}

.profile-divider{
  margin-left: 5px;
  margin-top: 30px;
  display: flex;
}

.profile-divider mat-divider{
  width: 5px !important;
  background-color: #0075ff !important;
}

.spacer{
  width: 10px;
}

.skills-title{
  margin-top: -45px;
  margin-left: -25px;
  font-weight: bold;
  font-size: 35px !important;
  margin-bottom: 0px;
}

.project-info{
  width: 900px;
  margin-left: 17px;
}

.bullet-points{
  margin-left: 17px;
}

.pictures-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  margin-top: 40px;
}


.button-container{
  position: fixed;
  margin-top: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: opening-animation-bottom 1s;
}

.button-container h2{
  font-family: 'Tw Cen MT', Segoe UI, sans-serif;
  font-size: 25px;
  color: white;
  margin-bottom: 0px;
}

.button-container .button{
  border-radius: 8px;
  transition: 0.4s ease-out;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  padding: 5px 40px;
  margin: 0px 30px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container .button mat-icon{
  transform: scale(1.2);
}

.button-container .button h3{
  transition: 0.2s ease-out;
  font-family: 'Tw Cen MT', Segoe UI, sans-serif;
  font-size: 20px;
  font-weight: 550;
  visibility: hidden;
}

.button-container .button:hover{
  background-color: white;
  color: #0c2747;
}


.button-container .button:hover #right-arrow{
  transition: .2s ease;
  animation: spin;
}

.button-container .button:hover #left-arrow{
  transition: .2s ease;
  animation: spin;
}




