
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("src/app/resources/BackgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-container{
  /*animation: opening-animation 1s;*/
  margin-top: -50px;
}

.profile-container h1{
    font-family: 'Tw Cen MT';
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.profile-container h1 a{
  color: #0075ff;
}

.profile-container h2{
    font-family: 'Tw Cen MT';
  color: white;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.project-description{
  font-weight: normal !important;
}

.profile-divider{
  display: flex;
}

mat-divider{
  width: 5px !important;
  background-color: #0075ff !important;
}

.spacer{
  width: 10px;
}

.skills-title{
  margin-top: -35px;
  margin-left: -25px;
  font-weight: bold;
  font-size: 35px !important;
  margin-bottom: 0px;
}

.project-info{
  width: 1300px;
  margin-left: 17px;
}

.bullet-points{
  margin-left: 17px;
}

.pictures-container{
  display: flex;
  justify-content: left;
  /*width: 100%;*/
  height: 350px;
  margin-top: 20px;
}

.pictures-container img{
  margin-left: 50px;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: -75px;
}


.button-container{
  position: fixed;
  margin-top: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: opening-animation-bottom 1s;
}

.button-container h2{
    font-family: 'Tw Cen MT';
  font-size: 25px;
  color: white;
  margin-bottom: 0px;
}

.button-container .button{
  border-radius: 8px;
  transition: 0.4s ease-out;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  padding: 5px 40px;
  margin: 0px 30px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container .button mat-icon{
  transform: scale(1.2);
}

.button-container .button h3{
  transition: 0.2s ease-out;
    font-family: 'Tw Cen MT';
  font-size: 20px;
  font-weight: 550;
  visibility: hidden;
}

.button-container .button:hover{
  background-color: white;
  color: #0c2747;
}

.button-container .button:hover #right-arrow{
  transition: .2s ease;
  animation: spin;
}

.button-container .button:hover #left-arrow{
  transition: .2s ease;
  animation: spin;
}

.pictures-and-skills{
  margin-top: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /*align-items: center;*/
}

.skills{
  display: flex;
  height: 99%;
}




