@font-face {
  font-family: "Tw Cen MT";
  src: local("Tw cen MT"), url(./assets/fonts/TwCenMTStd.otf) format("opentype");
}


*{
  font-family: "Tw Cen MT";
  scroll-behavior: smooth;
}

body{
  padding-left: 290px;
  background-color: black;
  scroll-behavior: smooth;
  overflow: hidden;

}

html, body { height: 100%; }
body { margin: 0; font-family: Tw Cen MT; }


@keyframes opening-animation {
  0% {
    transform: translate(0,-100px);
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opening-animation-bottom {
  0% {
    transform: translate(0,100px);
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opening-animation-left {
  0% {
    transform: translate(100px,0px);
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opening-animation-right {
  0% {
    transform: translate(-100px,0px);
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-away {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.email{
  cursor: pointer;
}

