@import url('//db.onlinewebfonts.com/c/9b62dc86f936227b3f7b367bd0b6c05e?family=Tw+Cen+MT');

*{
  font-family: 'Tw Cen MT', Segoe UI, sans-serif;
  scroll-behavior: smooth;
}

body{
  padding-left: 290px;
  background-color: black;
  scroll-behavior: smooth;
  overflow: hidden;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@keyframes opening-animation {
  0% {
    transform: translate(0,-100px);
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opening-animation-bottom {
  0% {
    transform: translate(0,100px);
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opening-animation-left {
  0% {
    transform: translate(100px,0px);
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opening-animation-right {
  0% {
    transform: translate(-100px,0px);
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-away {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

